body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef8f8;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin-top: 50px;
}

h1 {
  color: #e91e63;
}

h2 {
  color: #673ab7;
  margin-top: 30px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.desc {
  font-style: italic;
  color: #555;
}